<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Minecraft Map File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.marquiskurt.mcmap</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).minecraftmap</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Minecraft Map File</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>File Background</string>
				<key>UTTypeIconBadgeName</key>
				<string>File Accent</string>
				<key>UTTypeIconText</key>
				<string>Map</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.marquiskurt.mcmap</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mcmap</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Minecraft Map File</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>File Background</string>
				<key>UTTypeIconBadgeName</key>
				<string>File Accent</string>
				<key>UTTypeIconText</key>
				<string>Map</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.marquiskurt.mcmap</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mcmap</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
